body {
  background-color: rgb(228, 127, 127);
}

.wrapper {
  border: 2px #ecf1f5 solid;
  font-family: Arial, Verdana, sans-serif;
  line-height: 1.5;
  margin: 20px auto;
  width: 80%;
  height: 700px;
  box-shadow: 10px 10px 20px 20px rgb(0 0 0 / 0.23);
}

.twoColumns {
  display: flex;
}
.leftColumn {
  border: 1px green solid;
  width: 30%;
}

.rightColumn {
  border: 1px yellow solid;
  width: 70%;
  height: 600px;
}

.footer {
  border: 1px red solid;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

header img{
  border: 10px solid green;
  border-radius: 50%;

}

header h1 {
  text-transform: uppercase;
}

main ul {
  list-style: none;
}

main :not(.contacts) ul{
  list-style-type: disc;
  margin-left: 50px;
}

.contacts li p{
  display: inline;
  vertical-align: middle;
}

.languageName {
  font-weight: 700;
  text-transform: uppercase;
}

.subHeader{
  display: flex;
}

.rightColumn h3{
  flex: 1;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777777;
  border-bottom: 2px solid black;
}

.courses ul{
  list-style-type: disc;

}

.rightColumn p, ul li{
  margin-left: 40px;
}

.pre{
  margin-left: -130px;
}